body
{
background-image:url('https://www.alianzataxi.com/wp-content/uploads/2020/07/comida-delivery.jpg');background-repeat:no-repeat;background-attachment:fixed;background-size:100%100%;
}

.navbar a:hover {
background-color:Lightblue;
color:white;
}

video {
  width: 50%;
  height: auto;
}


