body
{
background-image:url('https://woxapp.com/uploads/images/estxochu_1.png');background-repeat:no-repeat;background-attachment:fixed;background-size:100%100%;
}
.jumbotron{
width:330px;
}

.button {
  background-color: black; /* light black */
  border: none;
  color: white;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}

.button2 {font-size: 17px;}