body
{
background-image:url('https://dontmesswithtaxes.typepad.com/.a/6a00d8345157c669e20240a4f140e4200b-pi');background-repeat:no-repeat;background-attachment:fixed;background-size:100%100%;
}

  .jumbotron {
  position:relative;
  overflow:hidden;
}

.jumbotron{
width:330px;
}

.right {
  float: right;
  width: 100%;
  padding: 10px;
}

.navbar a:hover {
background-color:MistyRose;
color:white;
}

.rights {
  background-color:powderblue;
  width: 33.33%;
  padding: 5px;
}
