body
{
background-image:url('https://www.nrn.com/sites/nrn.com/files/delivery-restaurant-orders_0.jpg');background-repeat:no-repeat;background-attachment:fixed;background-size:100%100%;
}
.jumbotron{
width:330px;
}