body
{
background-image:url('https://www.morganstanley.com/pub/content/dam/msdotcom/ideas/online-food-delivery-amazon/online-food-delivery-amazon-tw.jpg');background-repeat:no-repeat;background-attachment:fixed;background-size:100%100%;
}
.jumbotron{
width:330px;
}