<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
      {% load static %}
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static '/css/style12.css' %}" rel="stylesheet">

    <style>
        table,th,td
        {
        border:3px solid black;
        border-collapse:collapse;
        }
        th,td
        {
        font-size:20px;
        color:black;
        padding:15;
        }
    </style>

</head>
<body>
  <br>
        <br>
    <br>

<div class="head">
    <div class="jumbotron text-center" style="padding:15px;opacity: 0.9; filter: alpha(opacity=50);width:100%;">
        <br><br>
             <center><h1 style="color:solidblack">EAT UP</h1></center>
        <br>
        <br>
    </div>
</div>
<br>

          <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top" style="padding:15px;background-image:url('{% static 'image/img9.jpg'%}');background-size:cover;">
      <a class="nav-link" style="font-size:25px;color:black;" href="http://127.0.0.1:8000/intro/">Home</a>
              <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" style="font-size:20px;color:black;" href="http://127.0.0.1:8000/new_address/">Back</a>
    </li>
              </ul>
<div class="right">
  <form class="form-inline"  style="float:right" action="https://www.google.co.in/">
    <input class="form-control mr-sm-2" type="text" placeholder="Type Google">
    <button class="btn btn-success" type="submit">Search</button>
  </form>
</div>
 </nav>
       <br>
<center>
    <div class="rights" style="background-color:white;font-size:15px;opacity:0.9;filter:alpha(opacity=50); font-family: Arial, Helvetica, sans-serif;a">
        <center><h1><b><u>Payment</u></b> </h1></center>
<div>
<form method="post" enctype="multipart/form-data">
                 {% csrf_token %}
    <table style="border-style:solid;">
        <tr><th>Select</th><th>Item</th><th>Quantity</th><th>Price</th><th>Delete</th></tr>
             {% for s in all_items %}
                <tr>
                    <td><center><input type="checkbox" id="item" name="item" value="{{s.item}}"></center></td>
                    <td>{{s.item}}</td>
                    <td><center>{{s.quantity}}</center></td>
                    <td>{{s.price}}</td>
                    <td><button>Delete</button></td>
</tr>
{% endfor %}
        </table>
</form>
    <br>
<h3>Total price is : {{total_price}} </h3>
    {{price_sum}}
</div>
<br>
    <center><a href="http://127.0.0.1:8000/end/" class="btn btn-warning">Place order</a></center>
        <br>
</div>
</center>
</body>
</html>