<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static '/css/style.css' %}" rel="stylesheet">
</head>
<body>
<div class="head">
    <div class="jumbotron text-center" style="padding:15px;opacity: 0.7; filter: alpha(opacity=50);width:100%;">
        <br><br>
        <center><h1 style="color:solidblack">EAT UP</h1></center>
        <br>
        <br>
    </div>
</div>
<br>
<center>
    <div class="jumbotron text-center" style="background-color:none;font-size:20px;opacity:0.8;filter:alpha(opacity=50);">
        <div style="width:260px;background: rgba(30, 60, 50, 0.5);">
            <form class="form-form" role="form" method="post" action="">
        {% csrf_token %}
            <legend><u>LogIn</u></legend>
            <label for="fname" style="font-weight:bold;margin: 1%;color:black;">User Name:</label>
             <input type="text" id="fname"  value="" name="username" required><br>
             <label for="password" style="font-weight:bold;margin: 1%;color:black;">Password:</label>
        <input type="password" name="password" required><br><br>
<button type="submit" style="font-size:20px;" >Login</button><br><br>

        {% if error %}
          <div class="alert alert-danger" role="alert">
              {{error}}
          </div>
        {% endif %}



 </form>
    <form  class="post-form" action="http://127.0.0.1:8000/user/">
    <button type="submit" style="font-size:15px;" >SignUp</button><br>
        <br>
</form>
</div>
        </div>
    </center>
</body>
</html>