<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment page</title>
        {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="{% static '/css/style10.css' %}" rel="stylesheet">

</head>
<body>

          <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top" style="padding:15px;background-image:url('{% static 'image/img10.jpg'%}');background-size:cover;">
      <a class="nav-link" style="font-size:25px;color:black;" href="http://127.0.0.1:8000/intro/">Home</a>
              <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" style="font-size:20px;color:black;" href="http://127.0.0.1:8000/">Logout</a>
    </li>
              </ul>
          </nav>
<br>
    <br>
<div class="container">
<div style="background-color:powderblue;font-size:15px;opacity:0.9;filter:alpha(opacity=50); font-family: Arial, Helvetica, sans-serif;">
    <form>
    <br>
    <br><br>
   <center> <h2><b>Successfully Delivered !!! after few Minutes &#128523;&#128523;&#128523;</b> </h2></center>
              <br>
</form>
</div>
</div>
<br>
<div class="container">
    <div class="video">
  <div class="embed-responsive embed-responsive-16by9" style="opacity:0.9;filter:alpha(opacity=50);">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Fxafs7IyZMU"></iframe>
  </div>
        </div>
</div>



</body>
</html>