<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static '/css/style6.css' %}" rel="stylesheet">
</head>
<body>

<div class="jumbotron" style="padding:15px;background-image:url('{% static 'image/img6.jpg'%}');background-size:cover;">
    <div class="jumbotron-background opacity: 1.0; filter: alpha(opacity=50);width:100%;">
  </div>
  <div class="container text-white" style=" font-family:Times New Roman, Times, serif;">
      <br>
      <br>
<center>
    <h1 class="display-4">Eat Up</h1>
    <hr class="my-4">
</center>

          <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top" style="padding:15px;background-image:url('{% static 'image/img6.jpg'%}');background-size:cover;">
      <a class="navbar-brand" style="font-size:25px;color:black;" href="http://127.0.0.1:8000/intro/">Home</a>
<div class="right">
  <form class="form-inline"  style="float:right" action="https://www.google.co.in/">
    <input class="form-control mr-sm-2" type="text" placeholder="Type Google">
    <button class="btn btn-success" type="submit">Search</button>
  </form>
</div>
 </nav>
       <br>
  </div>
</div>


<div class="row">
  <div class="column" style="background-color:none;font-size:16px;opacity:0.9;filter:alpha(opacity=50); font-family: Arial, Helvetica, sans-serif;">
    <div class="card">
        <h2>PARAGON RESTAURANT</h2>
   <br><br>
            <form  class="post-form" action="http://127.0.0.1:8000/paragon/">
   <button class="button button2">Next</button><br>
                <br>
</form>
    </div>
    <br>
  </div>

  <div class="column" style="background-color:none;font-size:16px;opacity:0.9;filter:alpha(opacity=50); font-family: Arial, Helvetica, sans-serif;">
    <div class="card">
      <h2>SAGAR RESTAURANT</h2>
   <br><br>
           <form  class="post-form" action="http://127.0.0.1:8000/sagar/">
               <button class="button button2">Next</button><br>
               <br>
</form>
    </div>
      <br>
  </div>

  <div class="column" style="background-color:none;font-size:16px;opacity:0.9;filter:alpha(opacity=50); font-family: Arial, Helvetica, sans-serif;">
    <div class="card">
      <h2>RAHMATH RESTAURANT</h2>
    <br><br>
           <form  class="post-form" action="http://127.0.0.1:8000/rahmath/">
   <button class="button button2">Next</button><br>
               <br>
</form>
    </div>
  </div>

  <div class="column" style="background-color:none;font-size:16px;opacity:0.9;filter:alpha(opacity=50); font-family: Arial, Helvetica, sans-serif;">
    <div class="card">
      <h2>SALKARA RESTAURANT</h2>
    <br><br>
             <form  class="post-form" action="http://127.0.0.1:8000/salkara/">
    <button class="button button2">Next</button><br>
                 <br>
</form>
    </div>
  </div>
</div>

<br>
</body>
</html>