<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rahmath</title>
        {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static '/css/style7.css' %}" rel="stylesheet">
</head>
<body>

<div class="jumbotron" style="padding:15px;background-image:url('{% static 'image/img7.jpg'%}');background-size:cover;">
    <div class="jumbotron-background opacity: 1.0; filter: alpha(opacity=50);width:100%;">
  </div>
  <div class="container text-white" style=" font-family:Times New Roman, Times, serif;">
      <br>
      <br>
<center>
    <h1 class="display-4">Eat Up</h1>
    <hr class="my-4">
<h2><b>RAHMATH RESTAURANT</b></h2>
</center>

          <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top" style="padding:15px;background-image:url('{% static 'image/img7.jpg'%}');background-size:cover;">
      <a class="nav-link" style="font-size:25px;color:black;" href="http://127.0.0.1:8000/intro/">Home</a>
              <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" style="font-size:20px;color:black;" href="http://127.0.0.1:8000/order/">Back</a>
    </li>
              </ul>
<div class="right">
  <form class="form-inline"  style="float:right" action="https://www.google.co.in/">
    <input class="form-control mr-sm-2" type="text" placeholder="Type Google">
    <button class="btn btn-success" type="submit">Search</button>
  </form>
</div>
 </nav>
       <br>
  </div>
</div>

<div class="row">
  <div class="column" style="background-color:none;font-size:16px;opacity:0.9;filter:alpha(opacity=50); font-family: Arial, Helvetica, sans-serif;">
    <div class="card">
      <h3><b>VARIETY OF BIRYANIES</b></h3>
     <br>
         <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Chicken Biryani Dum...........................135.00
    <input type="checkbox" id="biryani" name="restaurant_2" value="Chicken Biryani Dum">
         <input type="number" id="quantity" name="quantity_2" min="1" max="9"> <button>Add Item</button></li><br></form>
        <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Mutton Biryani.....................................190.00
    <input type="checkbox" id="biryani1" name="restaurant_2" value="Mutton Biryani">
         <input type="number" id="quantity1" name="quantity_2" min="1" max="9"> <button>Add Item</button></li><br></form>
            <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Egg Biryani..........................................115.00
    <input type="checkbox" id="biryani2" name="restaurant_2" value="Egg Biryani">
         <input type="number" id="quantity2" name="quantity_2" min="1" max="9"> <button>Add Item</button></li><br></form>
                <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Veg. Biryani.........................................110.00
    <input type="checkbox" id="biryani3" name="restaurant_2" value="Veg. Biryani">
         <input type="number" id="quantity3" name="quantity_2" min="1" max="9"> <button>Add Item</button></li><br><br></form>
        <center><img src="https://www.loppihovi.com/wp-content/uploads/2019/12/Mutton-Briyani.jpg" style="width:50%"></center><br><br>
                    <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Hyderabadi Biryani..............................160.00
    <input type="checkbox" id="biryani4" name="restaurant_2" value="Hyderabadi Biryani">
         <input type="number" id="quantity4" name="quantity_2" min="1" max="9"> <button>Add Item</button></li><br></form>
                        <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Biryani Rice...........................................95.00
    <input type="checkbox" id="biryani5" name="restaurant_2" value="Biryani Rice">
         <input type="number" id="quantity5" name="quantity_2" min="1" max="9"> <button>Add Item</button></li><br></form>
                            <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Ghee Rice.............................................80.00
    <input type="checkbox" id="biryani6" name="restaurant_2" value="Ghee Rice">
         <input type="number" id="quantity6" name="quantity_2" min="1" max="9"> <button>Add Item</button></li><br></form>
                                <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Fish Biryani.........................................170.00
    <input type="checkbox" id="biryani7" name="restaurant_2" value="Fish Biryani">
         <input type="number" id="quantity7" name="quantity_2" min="1" max="9"> <button>Add Item</button></li><br><br></form>
    </div>
  </div>
  <div class="column" style="background-color:none;font-size:16px;opacity:0.9;filter:alpha(opacity=50); font-family: Arial, Helvetica, sans-serif;">
    <div class="card">
      <h3><b>NORTH INDIAN / CHINESE / CHICKEN / GRAVY ITEMS</b></h3>
    <br>
         <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>CR Special Chicken............................175.00
    <input type="checkbox" id="north" name="restaurant_2" value="CR Special Chicken">
         <input type="number" id="quantity8" name="quantity_2" min="1" max="9"> <button>Add Item</button></li><br></form>
              <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Chicken Patiala...................................195.00
    <input type="checkbox" id="north1" name="restaurant_2" value="Chicken Patiala">
         <input type="number" id="quantity9" name="quantity_2" min="1" max="9"> <button>Add Item</button></li><br></form>
                   <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Mughalai Chicken...............................160.00
    <input type="checkbox" id="north2" name="restaurant_2" value="Mughalai Chicken">
         <input type="number" id="quantity10" name="quantity_2" min="1" max="9"> <button>Add Item</button></li><br></form>
                 <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Chicken Do-Pyaza..............................160.00
    <input type="checkbox" id="north3" name="restaurant_2" value="Chicken Do-Pyaza">
         <input type="number" id="quantity11" name="quantity_2" min="1" max="9"> <button>Add Item</button></li><br></form>
                     <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Chicken Anarkali.................................155.00
     <input type="checkbox" id="north4" name="restaurant_2" value="Chicken Anarkali">
         <input type="number" id="quantity12" name="quantity_2" min="1" max="9"> <button>Add Item</button></li><br></form>
        <center><img src="https://thumbs.dreamstime.com/t/butter-chicken-curry-bowl-delicious-indian-naan-bread-basmati-rice-cilantro-garnish-104019037.jpg" style="width:50%"></center><br>
                         <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Chicken Lahori....................................160.00
     <input type="checkbox" id="north5" name="restaurant_2" value="Chicken Lahori">
         <input type="number" id="quantity13" name="quantity_2" min="1" max="9"> <button>Add Item</button></li><br></form>
                             <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Chicken Roast....................................165.00
     <input type="checkbox" id="north6" name="restaurant_2" value="Chicken Roast">
         <input type="number" id="quantity14" name="quantity_2" min="1" max="9"> <button>Add Item</button></li><br></form>
                                 <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Chicken Vindaloo...............................165.00
     <input type="checkbox" id="north7" name="restaurant_2" value="Chicken Vindaloo">
         <input type="number" id="quantity15" name="quantity_2" min="1" max="9"> <button>Add Item</button></li><br></form>
                                     <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Chicken Roghanjosh..........................165.00
     <input type="checkbox" id="north8" name="restaurant_2" value="Chicken Roghanjosh">
         <input type="number" id="quantity16" name="quantity_2" min="1" max="9"> <button>Add Item</button></li><br></form>
                                         <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Chicken Kolapuri................................230.00
     <input type="checkbox" id="north9" name="restaurant_2" value="Chicken Kolapuri">
         <input type="number" id="quantity17" name="quantity_2" min="1" max="9"> <button>Add Item</button></li><br></form>
    </div>
      <br>
  </div>

  <div class="column" style="background-color:none;font-size:16px;opacity:0.9;filter:alpha(opacity=50); font-family: Arial, Helvetica, sans-serif;">
    <div class="card">
      <h3><b>MUTTON DISHES(Kerala & Chinese)</b></h3>
    <br>
        <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Mutton Masala....................................190.00
     <input type="checkbox" id="mutton" name="restaurant_2" value="Mutton Masala">
         <input type="number" id="quantity18" name="quantity_2" min="1" max="9"> <button>Add Item</button></li><br></form>
            <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Mutton Chaps.....................................195.00
    <input type="checkbox" id="mutton1" name="restaurant_2" value="Mutton Chaps">
         <input type="number" id="quantity19" name="quantity_2" min="1" max="9"> <button>Add Item</button></li><br></form>
                <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Mutton Kuruma...................................195.00
    <input type="checkbox" id="mutton2" name="restaurant_2" value="Mutton Kuruma">
         <input type="number" id="quantity20" name="quantity_2" min="1" max="9"> <button>Add Item</button></li><br></form>
                    <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Mutton Pepper Fry..............................205.00
    <input type="checkbox" id="mutton3" name="restaurant_2" value="Mutton Pepper Fry">
         <input type="number" id="quantity21" name="quantity_2" min="1" max="9"> <button>Add Item</button></li><br></form>
                        <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Mutton Kolapuri...................................205.00
    <input type="checkbox" id="mutton4" name="restaurant_2" value="Mutton Kolapuri">
         <input type="number" id="quantity22" name="quantity_2" min="1" max="9"> <button>Add Item</button></li><br></form>
        <center><img src="https://d1jsfzvla7f7c6.cloudfront.net/contents/media/images/Gosht%20Korma%20Mutton%20Curry.jpg" style="width:50%"></center><br>
                            <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Mutton Stew........................................205.00
    <input type="checkbox" id="mutton5" name="restaurant_2" value="Mutton Stew">
         <input type="number" id="quantity23" name="quantity_2" min="1" max="9"> <button>Add Item</button></li><br></form>
                                <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Mutton Roast.......................................205.00
    <input type="checkbox" id="mutton6" name="restaurant_2" value="Mutton Roast">
         <input type="number" id="quantity24" name="quantity_2" min="1" max="9"> <button>Add Item</button></li><br></form>
                                    <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Mutton Pepper Masala.........................195.00
    <input type="checkbox" id="mutton7" name="restaurant_2" value="Mutton Pepper Masala">
         <input type="number" id="quantity25" name="quantity_2" min="1" max="9"> <button>Add Item</button></li><br></form>
                                        <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Mutton Curry.........................................195.00
    <input type="checkbox" id="mutton8" name="restaurant_2" value="Mutton Curry">
         <input type="number" id="quantity26" name="quantity_2" min="1" max="9"> <button>Add Item</button></li><br></form>
                                            <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Mutton Kadai........................................195.00
    <input type="checkbox" id="mutton9" name="restaurant_2" value="Mutton Kadai">
         <input type="number" id="quantity27" name="quantity_2" min="1" max="9"> <button>Add Item</button></li><br></form>
    </div>
  </div>

  <div class="column" style="background-color:none;font-size:16px;opacity:0.9;filter:alpha(opacity=50); font-family: Arial, Helvetica, sans-serif;">
    <div class="card">
      <h3><b>NADAN VEG.DISHES(Kerala Style)</b></h3>
    <br>
         <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Kadala Curry..........................................40.00
    <input type="checkbox" id="kerala" name="restaurant_2" value="Kadala Curry">
         <input type="number" id="quantity28" name="quantity_2" min="1" max="9"> <button>Add Item</button></li><br></form>
              <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>CheruPayar Curry..................................40.00
     <input type="checkbox" id="kerala1" name="restaurant_2" value="CheruPayar Curry">
         <input type="number" id="quantity29" name="quantity_2" min="1" max="9"> <button>Add Item</button></li><br></form>
                   <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Veg. Stew...............................................55.00
     <input type="checkbox" id="kerala2" name="restaurant_2" value="Veg. Stew">
         <input type="number" id="quantity30" name="quantity_2" min="1" max="9"> <button>Add Item</button></li><br><br><br></form>
<center><img src="https://www.whiskaffair.com/wp-content/uploads/2020/04/Vegetable-Stew-3.jpg" style="width:50%"></center><br><br>
                        <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Green Piece Curry................................50.00
    <input type="checkbox" id="kerala3" name="restaurant_2" value="Green Piece Curry">
         <input type="number" id="quantity31" name="quantity_2" min="1" max="9"> <button>Add Item</button></li><br></form>
                             <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Potato Baji............................................45.00
    <input type="checkbox" id="kerala4" name="restaurant_2" value="Potato Baji">
         <input type="number" id="quantity32" name="quantity_2" min="1" max="9"> <button>Add Item</button></li><br></form>
                                  <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Veg. Kuruma.........................................50.00
    <input type="checkbox" id="kerala5" name="restaurant_2" value="Veg. Kuruma">
         <input type="number" id="quantity33" name="quantity_2" min="1" max="9"> <button>Add Item</button></li><br></form>
    </div>
  </div>
</div>
<br>
<div class="container">
   <a href="http://127.0.0.1:8000/new_address/" class="btn btn-danger btn-lg btn-block" role="button">CONTINUE</a>
    <br>
    <br>
</div>

</body>
</html>