<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sagar</title>
        {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static '/css/style7.css' %}" rel="stylesheet">
</head>
<body>

<div class="jumbotron" style="padding:15px;background-image:url('{% static 'image/img7.jpg'%}');background-size:cover;">
    <div class="jumbotron-background opacity: 1.0; filter: alpha(opacity=50);width:100%;">
  </div>
  <div class="container text-white" style=" font-family:Times New Roman, Times, serif;">
      <br>
      <br>
<center>
    <h1 class="display-4">Eat Up</h1>
    <hr class="my-4">
<h2><b>SAGAR RESTAURANT</b></h2>
</center>

          <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top" style="padding:15px;background-image:url('{% static 'image/img7.jpg'%}');background-size:cover;">
      <a class="nav-link" style="font-size:25px;color:black;" href="http://127.0.0.1:8000/intro/">Home</a>
              <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" style="font-size:20px;color:black;" href="http://127.0.0.1:8000/order/">Back</a>
    </li>
              </ul>
<div class="right">
  <form class="form-inline"  style="float:right" action="https://www.google.co.in/">
    <input class="form-control mr-sm-2" type="text" placeholder="Type Google">
    <button class="btn btn-success" type="submit">Search</button>
  </form>
</div>
 </nav>
       <br>
  </div>
</div>

<div class="row">
  <div class="column" style="background-color:none;font-size:16px;opacity:0.9;filter:alpha(opacity=50); font-family: Arial, Helvetica, sans-serif;">
    <div class="card">
      <h3><b>FRIED RICE & NOODLES</b></h3>
     <br>
        <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Prawns Fried Rice................................195.00
     <input type="checkbox" id="fried" name="restaurant_1" value="Prawns Fried Rice">
         <input type="number" id="quantity" name="quantity_1" min="1" max="9"> <button>Add Item</button></li><br></form>
         <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Chicken Fried Rice...............................140.00
    <input type="checkbox" id="fried1" name="restaurant_1" value="Chicken Fried Rice">
         <input type="number" id="quantity1" name="quantity_1" min="1" max="9"> <button>Add Item</button></li><br></form>
              <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Mixed Fried Rice..................................150.00
    <input type="checkbox" id="fried2" name="restaurant_1" value="Mixed Fried Rice">
         <input type="number" id="quantity2" name="quantity_1" min="1" max="9"> <button>Add Item</button></li><br></form>
                   <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Egg Fried Rice.....................................115.00
    <input type="checkbox" id="fried3" name="restaurant_1" value="Egg Fried Rice">
         <input type="number" id="quantity3" name="quantity_1" min="1" max="9"> <button>Add Item</button></li><br></form>
                        <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Veg. Fried Rice....................................105.00
    <input type="checkbox" id="fried4" name="restaurant_1" value="Veg. Fried Rice">
         <input type="number" id="quantity4" name="quantity_1" min="1" max="9"> <button>Add Item</button></li><br></form>
<center><img src="https://thumbs.dreamstime.com/b/chilli-garlic-hakka-noodles-black-bowl-dark-slate-table-top-indo-chinese-vegetarian-cuisine-dish-tabpe-indian-veg-187539737.jpg" style="width:50%"></center><br>
                             <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Mushroom Fried Rice...........................120.00
    <input type="checkbox" id="fried5" name="restaurant_1" value="Mushroom Fried Rice">
         <input type="number" id="quantity5" name="quantity_1" min="1" max="9"> <button>Add Item</button></li><br></form>
                                  <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Chicken Noodles..................................130.00
    <input type="checkbox" id="fried6" name="restaurant_1" value="Chicken Noodles">
         <input type="number" id="quantity6" name="quantity_1" min="1" max="9"> <button>Add Item</button></li><br></form>
                                       <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Mixed Noodles......................................140.00
    <input type="checkbox" id="fried7" name="restaurant_1" value="Mixed Noodles">
         <input type="number" id="quantity7" name="quantity_1" min="1" max="9"> <button>Add Item</button></li><br></form>
                                            <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Egg Noodles.........................................110.00
    <input type="checkbox" id="fried8" name="restaurant_1" value="Egg Noodles">
         <input type="number" id="quantity8" name="quantity_1" min="1" max="9"> <button>Add Item</button></li><br></form>
                                                 <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Veg. Noodles........................................110.00
    <input type="checkbox" id="fried9" name="restaurant_1" value="Veg. Noodles">
         <input type="number" id="quantity9" name="quantity_1" min="1" max="9"> <button>Add Item</button></li><br></form>
    </div>
  </div>
  <div class="column" style="background-color:none;font-size:16px;opacity:0.9;filter:alpha(opacity=50); font-family: Arial, Helvetica, sans-serif;">
    <div class="card">
      <h3><b>NADAN CHICKEN(Kerala Style)</b></h3>
   <br>
        <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Chicken Curry.......................................100.00
    <input type="checkbox" id="nadan" name="restaurant_1" value="Chicken Curry">
         <input type="number" id="quantity10" name="quantity_1" min="1" max="9"> <button>Add Item</button></li><br></form>
            <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Chicken Pepper Fry..............................240.00
    <input type="checkbox" id="nadan1" name="restaurant_1" value="Chicken Pepper Fry">
         <input type="number" id="quantity11" name="quantity_1" min="1" max="9"> <button>Add Item</button></li><br></form>
                <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Chicken Chilli........................................240.00
    <input type="checkbox" id="nadan2" name="restaurant_1" value="Chicken Chilli">
         <input type="number" id="quantity12" name="quantity_1" min="1" max="9"> <button>Add Item</button></li><br></form>
                    <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Chicken Chaps.....................................155.00
    <input type="checkbox" id="nadan3" name="restaurant_1" value="Chicken Chaps">
         <input type="number" id="quantity13" name="quantity_1" min="1" max="9"> <button>Add Item</button></li><br></form>
                        <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Chicken Stew........................................140.00
    <input type="checkbox" id="nadan4" name="restaurant_1" value="Chicken Stew">
         <input type="number" id="quantity14" name="quantity_1" min="1" max="9"> <button>Add Item</button></li><br></form>
        <center><img src="https://prestigesmartchef.com/media/images/content/Tandoori-Chicken.jpg" style="width:50%"></center><br>
                            <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Chicken Roast......................................145.00
    <input type="checkbox" id="nadan5" name="restaurant_1" value="Chicken Roast">
         <input type="number" id="quantity15" name="quantity_1" min="1" max="9"> <button>Add Item</button></li><br></form>
                                <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Chicken Chukka...................................240.00
    <input type="checkbox" id="nadan6" name="restaurant_1" value="Chicken Chukka">
         <input type="number" id="quantity16" name="quantity_1" min="1" max="9"> <button>Add Item</button></li><br></form>
                                    <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Chicken Kuruma...................................180.00
    <input type="checkbox" id="nadan7" name="restaurant_1" value="Chicken Kuruma">
         <input type="number" id="quantity17" name="quantity_1" min="1" max="9"> <button>Add Item</button></li><br></form>
                                        <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Chicken Varaval....................................180.00
    <input type="checkbox" id="nadan8" name="restaurant_1" value="Chicken Varaval">
         <input type="number" id="quantity18" name="quantity_1" min="1" max="9"> <button>Add Item</button></li><br></form>
                                            <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Chicken Varattiyathu.............................180.00
    <input type="checkbox" id="nadan9" name="restaurant_1" value="Chicken Varattiyathu">
         <input type="number" id="quantity19" name="quantity_1" min="1" max="9"> <button>Add Item</button></li><br></form>
    </div>
      <br>
  </div>

  <div class="column" style="background-color:none;font-size:16px;opacity:0.9;filter:alpha(opacity=50); font-family: Arial, Helvetica, sans-serif;">
    <div class="card">
      <h3><b>VEG.NORTH INDIAN/CHINESE</b></h3>
     <br>
        <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Paneer Butter Masala.........................135.00
    <input type="checkbox" id="veg" name="restaurant_1" value="Paneer Butter Masala">
         <input type="number" id="quantity20" name="quantity_1" min="1" max="9"> <button>Add Item</button></li><br></form>
            <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Mushroom Masala..............................125.00
    <input type="checkbox" id="veg1" name="restaurant_1" value="Mushroom Masala">
         <input type="number" id="quantity21" name="quantity_1" min="1" max="9"> <button>Add Item</button></li><br></form>
                <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Gobi Manchurian................................120.00
    <input type="checkbox" id="veg2" name="restaurant_1" value="Gobi Manchurian">
         <input type="number" id="quantity22" name="quantity_1" min="1" max="9"> <button>Add Item</button></li><br></form>
                    <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Babycorn Masala................................125.00
    <input type="checkbox" id="veg3" name="restaurant_1" value="Babycorn Masala">
         <input type="number" id="quantity23" name="quantity_1" min="1" max="9"> <button>Add Item</button></li><br></form>
                        <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Veg.Kadai.............................................95.00
    <input type="checkbox" id="veg4" name="restaurant_1" value="Veg.Kadai">
         <input type="number" id="quantity24" name="quantity_1" min="1" max="9"> <button>Add Item</button></li><br></form>
                            <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Palak Paneer......................................115.00
    <input type="checkbox" id="veg5" name="restaurant_1" value="Palak Paneer">
         <input type="number" id="quantity25" name="quantity_1" min="1" max="9"> <button>Add Item</button></li><br></form>
        <center><img src="https://www.golokaso.com/wp-content/uploads/2018/05/veg-food-cover.jpg" style="width:50%"></center><br>
                                <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Dal Fry..................................................80.00
    <input type="checkbox" id="veg6" name="restaurant_1" value="Dal Fry">
         <input type="number" id="quantity26" name="quantity_1" min="1" max="9"> <button>Add Item</button></li><br></form>
                                    <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Dal Makhani.........................................90.00
    <input type="checkbox" id="veg7" name="restaurant_1" value="Dal Makhani">
         <input type="number" id="quantity27" name="quantity_1" min="1" max="9"> <button>Add Item</button></li><br></form>
                                        <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Veg Malai Kofta...................................95.00
    <input type="checkbox" id="veg8" name="restaurant_1" value="Veg Malai Kofta">
         <input type="number" id="quantity28" name="quantity_1" min="1" max="9"> <button>Add Item</button></li><br></form>
                                            <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Tomato Fry..........................................75.00
    <input type="checkbox" id="veg9" name="restaurant_1" value="Tomato Fry">
         <input type="number" id="quantity29" name="quantity_1" min="1" max="9"> <button>Add Item</button></li><br></form>
                                                <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Green Peas Masala............................75.00
    <input type="checkbox" id="veg10" name="restaurant_1" value="Green Peas Masala">
         <input type="number" id="quantity30" name="quantity_1" min="1" max="9"> <button>Add Item</button></li><br></form>
    </div>
  </div>

  <div class="column" style="background-color:none;font-size:16px;opacity:0.9;filter:alpha(opacity=50); font-family: Arial, Helvetica, sans-serif;">
    <div class="card">
      <h3><b>SPECIAL SOUPS Veg. & Non Veg.</b></h3>
    <br>
        <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Lemon Veg.Soup...................................75.00
    <input type="checkbox" id="soup" name="restaurant_1" value="Lemon Veg.Soup">
         <input type="number" id="quantity31" name="quantity_1" min="1" max="9"> <button>Add Item</button></li><br></form>
            <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Veg.Clear Soup.....................................75.00
    <input type="checkbox" id="soup1" name="restaurant_1" value="Veg.Clear Soup">
         <input type="number" id="quantity32" name="quantity_1" min="1" max="9"> <button>Add Item</button></li><br></form>
                <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Cream Veg.Soup...................................80.00
    <input type="checkbox" id="soup2" name="restaurant_1" value="Cream Veg.Soup">
         <input type="number" id="quantity33" name="quantity_1" min="1" max="9"> <button>Add Item</button></li><br></form>
                    <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Corn Veg.Soup......................................80.00
    <input type="checkbox" id="soup3" name="restaurant_1" value="Corn Veg.Soup">
         <input type="number" id="quantity34" name="quantity_1" min="1" max="9"> <button>Add Item</button></li><br></form>
                        <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Veg.Manchow Soup..............................85.00
    <input type="checkbox" id="soup4" name="restaurant_1" value="Veg.Manchow Soup">
         <input type="number" id="quantity35" name="quantity_1" min="1" max="9"> <button>Add Item</button></li><br></form>
<center><img src="https://images7.alphacoders.com/343/thumb-1920-343425.jpg" style="width:50%"></center><br>
                            <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Nadan Mutton Soup...............................125.00
    <input type="checkbox" id="soup5" name="restaurant_1" value="Nadan Mutton Soup">
         <input type="number" id="quantity36" name="quantity_1" min="1" max="9"> <button>Add Item</button></li><br></form>
                                <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Chicken Clear Soup.................................95.00
    <input type="checkbox" id="soup6" name="restaurant_1" value="Chicken Clear Soup">
         <input type="number" id="quantity37" name="quantity_1" min="1" max="9"> <button>Add Item</button></li><br></form>
                                    <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Chicken Corn Soup................................100.00
    <input type="checkbox" id="soup7" name="restaurant_1" value="Chicken Corn Soup">
         <input type="number" id="quantity38" name="quantity_1" min="1" max="9"> <button>Add Item</button></li><br></form>
                                        <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Cream Chicken Soup.............................100.00
    <input type="checkbox" id="soup8" name="restaurant_1" value="Cream Chicken Soup">
         <input type="number" id="quantity39" name="quantity_1" min="1" max="9"> <button>Add Item</button></li><br></form>
                                            <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Chicken  Soup.........................................105.00
    <input type="checkbox" id="soup9" name="restaurant_1" value="Chicken Soup">
         <input type="number" id="quantity40" name="quantity_1" min="1" max="9"> <button>Add Item</button></li><br></form>
    </div>
  </div>
</div>
<br>
<div class="container">
     <a href="http://127.0.0.1:8000/new_address/" class="btn btn-danger btn-lg btn-block" role="button">CONTINUE</a>
    <br>
    <br>
</div>

</body>
</html>