<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Salkara</title>
        {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static '/css/style7.css' %}" rel="stylesheet">
</head>
<body>

<div class="jumbotron" style="padding:15px;background-image:url('{% static 'image/img7.jpg'%}');background-size:cover;">
    <div class="jumbotron-background opacity: 1.0; filter: alpha(opacity=50);width:100%;">
  </div>
  <div class="container text-white" style=" font-family:Times New Roman, Times, serif;">
      <br>
      <br>
<center>
    <h1 class="display-4">Eat Up</h1>
    <hr class="my-4">
<h2><b>SALKARA RESTAURANT</b></h2>
</center>

          <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top" style="padding:15px;background-image:url('{% static 'image/img7.jpg'%}');background-size:cover;">
      <a class="nav-link" style="font-size:25px;color:black;" href="http://127.0.0.1:8000/intro/">Home</a>
              <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" style="font-size:20px;color:black;" href="http://127.0.0.1:8000/order/">Back</a>
    </li>
              </ul>
<div class="right">
  <form class="form-inline"  style="float:right" action="https://www.google.co.in/">
    <input class="form-control mr-sm-2" type="text" placeholder="Type Google">
    <button class="btn btn-success" type="submit">Search</button>
  </form>
</div>
 </nav>
       <br>
  </div>
</div>

<div class="row">
  <div class="column" style="background-color:none;font-size:16px;opacity:0.9;filter:alpha(opacity=50); font-family: Arial, Helvetica, sans-serif;">
    <div class="card">
      <h3><b>ETHNIC FOOD</b></h3>
     <br>
          <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Mix Porotta..........................................140.00
    <input type="checkbox" id="ethnic" name="restaurant_3" value="Mix Porotta">
         <input type="number" id="quantity" name="quantity_3" min="1" max="9"> <button>Add Item</button></li><br></form>
         <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Kothu Porotta......................................125.00
    <input type="checkbox" id="ethnic1" name="restaurant_3" value="Kothu Porotta">
         <input type="number" id="quantity1" name="quantity_3" min="1" max="9"> <button>Add Item</button></li><br></form>
             <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Puttu Biryani........................................130.00
    <input type="checkbox" id="ethnic2" name="restaurant_3" value="Puttu Biryani">
         <input type="number" id="quantity2" name="quantity_3" min="1" max="9"> <button>Add Item</button></li><br></form>
          <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Kappa Biryani......................................130.00
    <input type="checkbox" id="ethnic3" name="restaurant_3" value="Kappa Biryani">
         <input type="number" id="quantity3" name="quantity_3" min="1" max="9"> <button>Add Item</button></li><br></form>
         <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Kappa....................................................85.00
    <input type="checkbox" id="ethnic4" name="restaurant_3" value="Kappa">
         <input type="number" id="quantity4" name="quantity_3" min="1" max="9"> <button>Add Item</button></li><br></form>
          <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Kappa&Fish Curry................................70.00
    <input type="checkbox" id="ethnic5" name="restaurant_3" value="Kappa&Fish Curry">
         <input type="number" id="quantity5" name="quantity_3" min="1" max="9"> <button>Add Item</button></li><br></form>
<center><img src="https://mayflowerrestaurant.in/wp-content/uploads/2018/10/mayflower-1030x580.jpeg" style="width:50%"></center><br>
         <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Kada Biryani........................................220.00
    <input type="checkbox" id="ethnic6" name="restaurant_3" value="Kada Biryani">
         <input type="number" id="quantity6" name="quantity_3" min="1" max="9"> <button>Add Item</button></li><br></form>
          <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Kada Fry..............................................150.00
    <input type="checkbox" id="ethnic7" name="restaurant_3" value="Kada Fry">
         <input type="number" id="quantity7" name="quantity_3" min="1" max="9"> <button>Add Item</button></li><br></form>
         <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Duck Biryani........................................310.00
    <input type="checkbox" id="ethnic8" name="restaurant_3" value="Duck Biryani">
         <input type="number" id="quantity8" name="quantity_3" min="1" max="9"> <button>Add Item</button></li><br></form>
          <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Duck Fry..............................................300.00
    <input type="checkbox" id="ethnic9" name="restaurant_3" value="Duck Fry">
         <input type="number" id="quantity9" name="quantity_3" min="1" max="9"> <button>Add Item</button></li><br></form>
         <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Duck Roast.........................................300.00
    <input type="checkbox" id="ethnic10" name="restaurant_3" value="Duck Roast">
         <input type="number" id="quantity10" name="quantity_3" min="1" max="9"> <button>Add Item</button></li><br></form>
         <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Crab Roast.........................................195.00
    <input type="checkbox" id="ethnic11" name="restaurant_3" value="Crab Roast">
         <input type="number" id="quantity11" name="quantity_3" min="1" max="9"> <button>Add Item</button></li><br></form>
          <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Crab Masala.......................................210.00
    <input type="checkbox" id="ethnic12" name="restaurant_3" value="Crab Masala">
         <input type="number" id="quantity12" name="quantity_3" min="1" max="9"> <button>Add Item</button></li><br></form>
    </div>
  </div>

  <div class="column" style="background-color:none;font-size:16px;opacity:0.9;filter:alpha(opacity=50); font-family: Arial, Helvetica, sans-serif;">
    <div class="card">
      <h3><b>SNACKS</b></h3>
   <br>
        <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Tea @ Cup...........................................12.00
    <input type="checkbox" id="snack" name="restaurant_3" value="Tea @ Cup">
         <input type="number" id="quantity13" name="quantity_3" min="1" max="9"> <button>Add Item</button></li><br></form>
            <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Coffie @ Cup.......................................13.00
    <input type="checkbox" id="snack1" name="restaurant_3" value="Coffie @ Cup">
         <input type="number" id="quantity14" name="quantity_3" min="1" max="9"> <button>Add Item</button></li><br></form>
                <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Black tea..............................................10.00
    <input type="checkbox" id="snack2" name="restaurant_3" value="Black tea">
         <input type="number" id="quantity15" name="quantity_3" min="1" max="9"> <button>Add Item</button></li><br></form>
                    <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Lemon Tea...........................................10.00
    <input type="checkbox" id="snack3" name="restaurant_3" value="Lemon Tea">
         <input type="number" id="quantity16" name="quantity_3" min="1" max="9"> <button>Add Item</button></li><br></form>
                        <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Green tea.............................................12.00
    <input type="checkbox" id="snack4" name="restaurant_3" value="Green tea">
         <input type="number" id="quantity17" name="quantity_3" min="1" max="9"> <button>Add Item</button></li><br></form>
                            <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Black coffee.........................................12.00
    <input type="checkbox" id="snack5" name="restaurant_3" value="Black coffee">
         <input type="number" id="quantity18" name="quantity_3" min="1" max="9"> <button>Add Item</button></li><br></form>
<center><img src="https://www.keralatourism.org/images/cuisine/thumb/Unnakaya20131204142748_129_1.jpg" style="width:50%"></center><br>
                                <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Chicken Cutlet.....................................15.00
    <input type="checkbox" id="snack6" name="restaurant_3" value="Chicken Cutlet">
         <input type="number" id="quantity19" name="quantity_3" min="1" max="9"> <button>Add Item</button></li><br></form>
                                    <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Erachipathal.........................................25.00
    <input type="checkbox" id="snack7" name="restaurant_3" value="Erachipathal">
         <input type="number" id="quantity20" name="quantity_3" min="1" max="9"> <button>Add Item</button></li><br></form>
                                        <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Pazham Porichathu..............................15.00
    <input type="checkbox" id="snack8" name="restaurant_3" value="Pazham Porichathu">
         <input type="number" id="quantity21" name="quantity_3" min="1" max="9"> <button>Add Item</button></li><br></form>
                                            <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Pazham Nirachathu..............................30.00
    <input type="checkbox" id="snack9" name="restaurant_3" value="Pazham Nirachathu">
         <input type="number" id="quantity22" name="quantity_3" min="1" max="9"> <button>Add Item</button></li><br></form>
                                                <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Unnakkaya............................................18.00
    <input type="checkbox" id="snack10" name="restaurant_3" value="Unnakkaya">
         <input type="number" id="quantity23" name="quantity_3" min="1" max="9"> <button>Add Item</button></li><br></form>
                                                    <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Parippu Vada.........................................12.00
    <input type="checkbox" id="snack11" name="restaurant_3" value="Parippu Vada">
         <input type="number" id="quantity24" name="quantity_3" min="1" max="9"> <button>Add Item</button></li><br></form>
                                                        <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Chicken Roll..........................................65.00
    <input type="checkbox" id="snack12" name="restaurant_3" value="Chicken Roll">
         <input type="number" id="quantity25" name="quantity_3" min="1" max="9"> <button>Add Item</button></li><br></form>
    </div>
      <br>
  </div>

  <div class="column" style="background-color:none;font-size:16px;opacity:0.9;filter:alpha(opacity=50); font-family: Arial, Helvetica, sans-serif;">
    <div class="card">
      <h3><b>BREAK FAST</b></h3>
    <br>
        <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
        <li>Puttu&Kadala Curry...........................70.00
        <input type="checkbox" id="break" name="restaurant_3" value="Puttu&Kadala Curry">
         <input type="number" id="quantity26" name="quantity_3" min="1" max="9"> <button>Add Item</button></li><br></form>
            <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Poori&Baji Curry................................60.00
    <input type="checkbox" id="break1" name="restaurant_3" value="Poori&Baji Curry">
         <input type="number" id="quantity27" name="quantity_3" min="1" max="9"> <button>Add Item</button></li><br></form>
                <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Appam&Egg Masala..........................75.00
    <input type="checkbox" id="break2" name="restaurant_3" value="Appam&Egg Masala">
         <input type="number" id="quantity28" name="quantity_3" min="1" max="9"> <button>Add Item</button></li><br></form>
                    <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Appam&Chicken Stew.....................100.00
    <input type="checkbox" id="break3" name="restaurant_3" value="Appam&Chicken Stew">
         <input type="number" id="quantity29" name="quantity_3" min="1" max="9"> <button>Add Item</button></li><br></form>
                        <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Idiyappam&Egg Roast......................75.00
    <input type="checkbox" id="break4" name="restaurant_3" value="Idiyappam&Egg Roast">
         <input type="number" id="quantity30" name="quantity_3" min="1" max="9"> <button>Add Item</button></li><br></form>
   <center><img src="https://d2rdhxfof4qmbb.cloudfront.net/wp-content/uploads/20180821150600/Indian-Breakfast-1024x682.jpg" style="width:50%"></center><br>
                            <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Kappa&Mathi kari.............................105.00
    <input type="checkbox" id="break5" name="restaurant_3" value="Kappa&Mathi kari">
         <input type="number" id="quantity31" name="quantity_3" min="1" max="9"> <button>Add Item</button></li><br></form>
                                <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Dosa&Chutney....................................55.00
    <input type="checkbox" id="break6" name="restaurant_3" value="Dosa&Chutney">
         <input type="number" id="quantity32" name="quantity_3" min="1" max="9"> <button>Add Item</button></li><br></form>
                                    <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Set Dosa.............................................55.00
    <input type="checkbox" id="break7" name="restaurant_3" value="Set Dosa">
         <input type="number" id="quantity33" name="quantity_3" min="1" max="9"> <button>Add Item</button></li><br></form>
                                        <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Neypathal&Chicken..........................105.00
    <input type="checkbox" id="break8" name="restaurant_3" value="Neypathal&Chicken">
         <input type="number" id="quantity34" name="quantity_3" min="1" max="9"> <button>Add Item</button></li><br></form>
                                            <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Porotta&Fish Curry..............................80.00
    <input type="checkbox" id="break9" name="restaurant_3" value="Porotta&Fish Curry">
         <input type="number" id="quantity35" name="quantity_3" min="1" max="9"> <button>Add Item</button></li><br></form>
    </div>
  </div>

  <div class="column" style="background-color:none;font-size:16px;opacity:0.9;filter:alpha(opacity=50); font-family: Arial, Helvetica, sans-serif;">
    <div class="card">
      <h3><b>EVENING SPECIAL(4PM TO 7PM ONLY)</b></h3>
    <br>
        <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Dosa Chicken...................................110.00
    <input type="checkbox" id="evening" name="restaurant_3" value="Dosa Chicken">
         <input type="number" id="quantity36" name="quantity_3" min="1" max="9"> <button>Add Item</button></li><br></form>
            <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Masala Dosa......................................60.00
    <input type="checkbox" id="evening1" name="restaurant_3" value="Masala Dosa">
         <input type="number" id="quantity37" name="quantity_3" min="1" max="9"> <button>Add Item</button></li><br></form>
        <center><img src="https://i1.wp.com/www.happyandharried.com/wp-content/uploads/2018/04/EASY-CHUTNEY-RECIPES-FOR-IDLI-DOSA-HAPPYHARRIED.jpg?resize=736%2C1104" style="width:50%"></center><br>
                <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Ney Roast..........................................55.00
    <input type="checkbox" id="evening2" name="restaurant_3" value="Ney Roast">
         <input type="number" id="quantity38" name="quantity_3" min="1" max="9"> <button>Add Item</button></li><br></form>
                    <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
    <li>Dosa&Fish Curry..............................120.00
    <input type="checkbox" id="evening3" name="restaurant_3" value="Dosa&Fish Curry">
         <input type="number" id="quantity39" name="quantity_3" min="1" max="9"> <button>Add Item</button></li><br></form>
    </div>
  </div>
</div>
<br>
<div class="container">
     <a href="http://127.0.0.1:8000/new_address/" class="btn btn-danger btn-lg btn-block" role="button">CONTINUE</a>
    <br>
    <br>
</div>

</body>
</html>