<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create account</title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static '/css/style3.css' %}" rel="stylesheet">
</head>
<body>
        <br>
<center>
    <div class="jumbotron text-center" style="background-color:none;font-size:20px;opacity:0.9;filter:alpha(opacity=50);">
        <div style="width:260px;background: rgba(30, 60, 50, 0.5);">
    <h4>SignUp</h4>
            <br>
    <form method="POST" class="post-form">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" style="font-size:15px;" >Submit</button><br>
        <br>
    </form>
    </div>
        </div>
    </center>
</body>
</html>